.circular-total {
  font-weight: bold;
  margin: 0 auto;
  padding: 3px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 130px;
  border: 7px solid #6e86ff;
  border-radius: 50%;
}
