/* UTILS */
* {
	text-decoration: none !important;
}

.text-medium {
	color: rgba(255, 255, 255, 0.6);
}

.react_calendar_tile--active {
	background-color: orange;
}

.circular-total {
	font-weight: bold;
	margin: 0 auto;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 130px;
	height: 130px;
	border: 7px solid #6e86ff;
	border-radius: 50%;
}

.grid-item {
	background-color: #1c1e25;
}

.circular-total p {
	font-size: 24px;
}

.container {
	width: 100%;
	padding: 10px;
}

.wrapper {
	min-height: 100vh;
	width: 100%;
}

.full-height {
	height: 100vh;
}

canvas {
	height: 100% !important;
	width: 100% !important;
	border-radius: 8px;
}

/* LOGIN */
.login {
	display: flex;
	align-items: center;
	justify-content: center;
}

.login-form {
	width: 600px;
}

/* DASHBOARD */
.dashboard {
	display: flex;
}
.dashboard__sidebar {
	width: 160px;
	/* background-color: #0c1425; */
	background-color: #1c1e25;
}

/* DASHBOARD OVERVIEW*/
.dashboard__overview {
	margin: auto;
	max-width: 1800px;
	display: flex;
	flex-direction: column;
	gap: 25px;
}

.dashboard__overview .pie-graph {
	height: 100px;
}

.dashboard__overview__line-graph {
	height: 200px;
	background-color: #1c1e25;
	position: relative;
}
.dashboard__overview__line-graph .graph {
	padding: 10px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
}

/* MIDDLE */
.dashboard__overview__middle {
	display: grid;
	gap: 25px;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.middle-item {
	height: 100%;
	width: 100%;
}

.dashboard_overview__pie-graph {
	grid-area: pie-graph;
	width: 100%;
	height: 150px;
}

/* BOTTOM */
.dashboard__overview__bottom {
	display: grid;
	gap: 25px;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.dashboard__overview__map {
	position: relative;
	height: 100%;
}

.dashboard__overview__map div {
	position: static !important;
	top: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	height: 100% !important;
	width: 100% !important;
	overflow: hidden;
	margin: 0 !important;
}

.dashboard__trace__guest-list {
	overflow-y: scroll;
	height: 200px;
}

.App {
	background-color: #15171e;
	/* overflow: hidden; */
}

.pie-graph {
	width: 100px;
}
