@import "./variables.css";

/* MAPBOX */
.mapboxgl-ctrl-bottom-right,
.mapboxgl-ctrl-bottom-left {
  display: none;
}

canvas {
  border-radius: 8px;
}

.mapboxgl-popup {
  max-width: 300px;
}

.mapboxgl-popup-content {
  text-align: left;
  background-color: rgba(0, 0, 0, 0.8) !important;
  color: #fff;
}

/* utils */
.container {
  margin: 0 auto;
  max-width: 1500px;
  padding: 35px;
}

.dashboard-title {
  color: var(--text-light);
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 10px;
  letter-spacing: 1.5px;
}

.dashboard-item {
  background-color: var(--dark-bg-color);
  padding: 11px;
  border: 1px solid rgba(125, 125, 125, 0.1);
  border-radius: 8px;
}

.sidebar-active,
.sidebar-link:hover {
  color: var(--text-light) !important;
  border-right: 3px solid var(--primary);
  transition: all 0.1s;
}

.sidebar-link {
  color: var(--text-gray);
  width: 107px;
  height: 39px;
  display: inline-flex;
  align-items: center;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 12px;
}

.sidebar-link div {
  width: 100%;
  display: flex;
  align-items: center;
}

.sidebar-link div i {
  margin-right: 12px;
}

.sidebar-link i {
  margin-right: 12px;
}

.dashboard {
  min-height: 100vh;
  background-color: var(--gray-bg-color);
  color: var(--text-gray);
}

.dashboard__header {
  border-bottom: 1px solid rgba(125, 125, 125, 0.1);
}

.dashboard__header nav {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  width: 190px;
  font-weight: bold;
  font-size: 12px;
}

.dashboard__header__active-link,
.dashboard__header__link:hover {
  color: var(--text-light);
  transition: color 0.4s;
}

.dashboard__header > .container {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard__content {
  position: relative;
}

.dashboard__sidebar {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 35px;
  top: 0;
}

.dashboard__main-content {
  margin-left: 170px;
}

/* overview*/
.overview,
.trace,
.reports {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.overview__top {
  height: 176px;
  width: 100%;
}

/* .overview__middle, */
.overview__bottom {
  height: auto;
  width: 100%;
  gap: 20px;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

/* .overview__pie-graph,
.overview__guest-count,
.overview__calendar {
  flex: 1;
  width: 100%;
}

.overview__pie-graph {
  display: flex;
  position: relative;
} */

/* .overview__pie-graph canvas,
.overview__pie-graph div {
  flex: 1 !important;
} */

.overview__pie-graph > canvas {
  width: 100% !important;
}

.chartjs-size-monitor {
  width: 100%;
}

.overview__guest-count {
  display: flex;
  justify-items: center;
  align-items: center;
}

.overview__guest-count p {
  color: var(--text-light);
}

.overview__bottom {
  height: 350px;
}

.overview__map.map {
  flex: 3;
  width: 100%;
  height: 100%;
}

.overview__map.map > div,
.trace__map > div {
  width: 100% !important;
}

.trace__map .map {
  width: 100%;
}

.overview__guest-list {
  flex: 1;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

.overview__guest-list ul {
  /* padding: 10px; */
  list-style: none;
}

.overview__guest-list ul li p {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

.overview__guest-list::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}
.overview__guest-list::-webkit-scrollbar-track {
  background: var(--dark-bg-color); /* color of the tracking area */
}
.overview__guest-list::-webkit-scrollbar-thumb {
  background-color: rgba(72, 146, 237, 0.2); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  /* creates padding around scroll thumb */
}

.trace__top,
.trace__bottom {
  height: 500px;
}

.MuiPaper-root,
.MuiTableHead-root,
.MuiTableRow-root,
.MuiTableCell-root .MuiTableCell-head {
  background-color: var(--dark-bg-color) !important;
  color: var(--text-light) !important;
}

.overview .grid-container {
  width: 100%;
  height: 100%;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: auto;
  grid-template-areas:
    "overview-pie"
    "overview-guest-count"
    "overview-calendar"
    "overview-map"
    "overview-guest-list";
}

.overview__pie-graph {
  grid-area: overview-pie;
}
.overview__guest-count {
  grid-area: overview-guest-count;
}
.overview__calendar {
  grid-area: overview-calendar;
}
.overview__map {
  grid-area: overview-map;
}
.overview__guest-list {
  grid-area: overview-guest-list;
}

.container {
  padding: 12px;
}
.dashboard__sidebar {
  display: none;
}

.dashboard__main-content {
  margin-left: 0;
}

@media screen and (min-width: 440px) and (max-width: 879px) {
  .overview .grid-container {
    grid-template-areas:
      "overview-pie overview-guest-count"
      "overview-calendar overview-calendar"
      "overview-map overview-map"
      "overview-guest-list overview-guest-list";
  }
}

@media screen and (min-width: 880px) {
  .container {
    padding: 35px;
  }

  .dashboard__main-content {
    margin-left: 170px;
  }
  .dashboard__sidebar {
    display: flex;
  }

  .overview .grid-container {
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-template-rows: 200px 300px;
    grid-template-areas:
      "overview-pie overview-guest-count overview-calendar"
      "overview-map overview-map overview-guest-list";
  }
}
