:root {
  --dark-bg-color: #16171c;
  --gray-bg-color: #1a1b20;
  --text-gray: rgba(255, 255, 255, 0.6);
  --text-light: #fff;
  --text-gray: #696c75;
  --primary: #4892ee;
  --secondary: #621ff3;
  --active-link-text: #4892ef;
  --dark-bg-color: #1c1d1f;

  --green: #2d403e;
  --x2: #a2bfbd;
  --x3: #fff;
  --x4: #ffc3a1;
  --cta: #ff7916;
  --form-cta-btn: #3b8880;
}
