:root {
	--dark-bg-color: #16171c;
	--gray-bg-color: #1a1b20;
	--text-gray: rgba(255, 255, 255, 0.6);
	--text-light: #e1e1e1;
	--text-gray: #696c75;
	--primary: #4892ee;
	--secondary: #621ff3;
	--active-link-text: #4892ef;
	/* --color-satatic:  */
	/* --color-active: */
}
